<div id="main-view" style="background-color:#eee;">
<div id="svg-area"></div>
  <div class="tools">
    <ul id="tool-list">
      <li id="color-list-base" class="tool tool-list-base" ng-style="{'background-color': colorHEX}">
        <ul id="color-list" class="tool-list-item">
          <li class="tool color color-{{color}}" ng-class="{'selected': isSelectedColor(color)}" ng-repeat="color in colorList" ng-click="selectColor(color, $event)"></li>
        </ul>
      </li>
      <li id="line-type-list-base" class="tool tool-list-base">
        <ul id="line-type-list" class="tool-list-item">
          <li class="tool line-type" ng-class="{'selected': isSelectedLineType(lineType)}" ng-repeat="lineType in lineTypeList" ng-click="selectLineType(lineType)"><img src="images/line-type-svg/{{lineType}}.svg"/></li>
        </ul>
      </li>
    </ul>
    <div id="tool-base" class="tool tool-base" ng-click="slideToggleTools()"></div>

  </div>
</div>
<div><button onclick="javascript:hoge()"></button></div>

<!-- <div id="main-view" style="background-color:#eee;">
<div id="svg-area" style="border:solid 1px gray;"></div>
<div class="tools" style="/*height:20px;*/">
   <div id="color-box" style="position:relative;">
    <div id="color-box-base" class="color tool" style="position:0;" ng-click="slideToggleColor()"></div>
    <div id="color-list" style="position:0;width:20px;height:200px;bottom:0;display:none;">
      <div class="color tool select" id="color1" style=""></div>
      <div class="color tool" id="color2" style=""></div>
      <div class="color tool" id="color3" style=""></div>
      <div class="color tool" id="color4" style=""></div>
      <div class="color tool" id="color5" style=""></div>
      <div class="color tool" id="color6" style=""></div>
      <div class="color tool" id="color7" style=""></div>
      <div class="color tool" id="color8" style=""></div>
      <div class="color tool" id="color9" style=""></div>
    </div>
  </div>

</div>
<div class="line-type tool" id="line-type" ng-click="toggleLineType(lineType)">{{lineType}}</div>
<div class="delete tool" id="delete" ng-click="removeLine()">DEL</div>
<div><button onclick="javascript:hoge()"></button></div>
</div> -->