/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.tools {
    clear: both;
    /*width: 600px;*/
}
.color {
    -moz-border-radius: 0 50px 50px 50px;
    -webkit-border-radius: 0 50px 50px 50px;
    border-radius: 0 50px 50px 50px;
}
.tools div {
  float: left;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  margin: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 5px solid #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
#color1 {
    background-color: #F00;
}
#color2 {
    background-color: #F9C;
}
#color3 {
    background-color: #FF0;
}
#color4 {
    background-color: #FFF;
}
#color5 {
    background-color: #00F;
}
#color6 {
    background-color: #0F0;
}
#color7 {
    background-color: #060;
}
#color8 {
    background-color: #000;
}
#color9 {
    background-color: #8D4B15;
}
.select {
    border-color: #66F !important;
}
.delete, .line-type {
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px
}
#delete, #line-type {
    background-color:#555;
    font-size:10px!important
}

