<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.caliconography.one_liners">

    <application>

    </application>
    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:targetPackage="jp.caliconography.one_liners" />
</manifest>
